<div class="fetchLogDiv utls">

    <timefilter></timefilter>

    <div class="utls-logfilter-column utls-inline-column utls-inline-column_paddingLeft">
        <div class="utls-selector-text utls-text">
            Choose timezone:
        </div>

        <div class="fetch-log-timezone">
            <select class="form-control utls-select" value
                    [(ngModel)]="chosenTimezone"
                    (ngModelChange)="choseTimezone($event)">
                <option>--- Select ---</option>
                <option *ngFor="let timezone of timezones" [ngValue]="timezone">{{timezone}}</option>
            </select>
        </div>
    </div>

    <div class="utls-row">
        <button class="btn btn-primary btn-sm" (click)="fetchLogs()">Fetch logs</button>
        <button class="btn btn-primary btn-sm" (click)="close()">Close</button>
    </div>
</div>
